{% extends "layout_main.html" %}

{% load static %}

{% block title %}Product{% endblock %}

{% block body %}

    <link href="{% static 'items/product.css' %}" rel="stylesheet"> 
    
    <div class="navbar-space"></div>

    <div class="container">
        <div class="row">
            <h7>{{ item.name|upper }}</h7><br><br>
        </div>
        <div class="row">
            <div class="col-lg-3 order-1">
                <div class="flex">
                    
                    <div class="description">
                        {{ item.description }}
                    </div>
                    <hr class="dropdown-divider">
                    <table>
                        <tbody>
                            <tr>
                                <td scope="col" class="align-left">price:</td>
                                <td scope="col" class="align-right">{{ item.current_price|floatformat:2 }}€</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">gender:</td>
                                <td scope="col" class="align-right">{{ item.gender }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">category:</td>
                                <td scope="col" class="align-right">{{ item.category }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">availability:</td>
                                <td scope="col" class="align-right">{% if item.quantity > 0 %}available{% else %}not available{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr class="dropdown-divider"><br><br><br>
                    <div class="svg-wrapper">
                        <svg height="60" width="100%">
                            <rect class="shape" height="60" width="100%">
                        </svg>
                        <div class="text"><button data-product="{{ item.id }}" data-action="add" class="update-cart">ADD TO CART</button></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 top-padding order-2">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}