{% extends "layout_main.html" %}

{% load static %}

{% block title %}Product{% endblock %}

{% block body %}

    <link href="{% static 'product/styles.css' %}" rel="stylesheet"> 
    
    <div class="navbar-space"></div>

    <div class="container">
        <div class="row">
            <h7>{{ item.name|upper }}</h7><br><br>
        </div>
        <div class="row">
            <div class="col-lg-3 order-1">
                <div class="flex">
                    
                    <div class="description">
                        {{ item.description }}
                    </div>
                    <br><hr class="dropdown-divider"><br>
                    <div>
                        {{ item.gender }}
                    </div>
                    <div>
                        {{ item.category }}
                    </div>
                    <div>
                        {% if item.quantity > 0 %}product available{% else %}product unavailable{% endif %}
                    </div>
                    <br><hr class="dropdown-divider"><br><br><br>
                    <div class="svg-wrapper">
                        <svg height="60" width="100%">
                            <rect class="shape" height="60" width="100%">
                        </svg>
                        <div class="text"><button data-product="{{ item.id }}" data-action="add" id="update-cart">BUY NOW</button></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 top-padding order-2">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            </div>
        </div>
    </div>

{% endblock %}