{% extends "layout_main.html" %}

{% load static %}

{% block title %}Items search{% endblock %}

{% block body %}

    <link href="{% static 'items/search.css' %}" rel="stylesheet">  

    <div class="navbar-space"></div>

    <div class="container">
        <div class="row">

            <!-- FILTERS -->
            <div class="col-sm-4 col-md-3 col-xl-2">
                <form class="disable-select" id="filtersForm" action="{% url 'items:search' page=1 %}" method="post">
                    {% csrf_token %}
                    <h7>FILTERS</h7><br><br>
                    <div class="mb-3">
                        <input type="text" class="search-bar search-field" placeholder="search" name="query" value="{{ query }}">
                        <button type="submit" class="search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                    <hr class="dropdown-divider">


                    <a class="no-decorator d-lg-none bottom-spacing-10" type="button" data-bs-toggle="collapse" data-bs-target="#example-collapse" aria-controls="example-collapse">
                        filters list
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </a>

                    <div id="example-collapse" class="collapse d-sm-block">

                        <div class="mb-2">gender:</div>
                        {% for gender, checked in genders.items %}
                            <div class="mb-2">
                                {% if checked == True %}
                                    <input type="checkbox" id="{{ gender }}" class="filterBtn" name="{{ gender }}" value="yes" checked>
                                    <label for="{{ gender }}">{{ gender }}</label>
                                {% else %}
                                    <input type="checkbox" id="{{ gender }}" class="filterBtn" name="{{ gender }}" value="yes">
                                    <label for="{{ gender }}">{{ gender }}</label>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <hr class="dropdown-divider">
                        <div class="mb-2">category:</div>
                        {{ filters }}
                        {% for category, checked in categories.items %}
                            <div class="mb-2">
                                {% if checked == True %}
                                    <input type="checkbox" id="{{ category }}" class="filterBtn" name="{{ category }}" value="yes" checked>
                                    <label for="{{ category }}">{{ category }}</label>
                                {% else %}
                                    <input type="checkbox" id="{{ category }}" class="filterBtn" name="{{ category }}" value="yes">
                                    <label for="{{ category }}">{{ category }}</label>
                                {% endif %}
                            </div>                        
                        {% endfor %}

                    </div>

                </form>
            </div>             

            <!-- RESULTS -->
            <div class="col-sm-8 col-md-9 col-xl-10 spacing">
                <h7>RESULTS</h7><br><br>
                    <div class="row row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 bottom-spacing-20">
                        {% if page %}
                            {% for item in page %}

                                <!-- ITEM CARD -->
                                <div class="container card_container">
                                    <div class="cta">
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}">
                                        <a href="{% url 'items:product' item_id=item.id %}">
                                            <div class="text">
                                                <h2>{{ item.name }}</h2><br>
                                                {{ item.current_price|floatformat:2 }}€<br>
                                                {{ item.gender }}<br>
                                                {{ item.category }}<br>
                                                {% if item.quantity > 0 %}available {{ item.quantity }} pcs.{% else %}not available{% endif %}<br>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                        
                            {% endfor %}
                        {% endif %}
                    </div>

                    <hr class="dropdown-divider">

                    <!-- PAGINATION -->
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="{% url 'items:search' page=page.previous_page_number %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </a></li>
                                {% endif %}
                                <div class="button-spacing"></div>
                                {% if page.has_next %}
                                    <li class="page-item"><a class="page-link" href="{% url 'items:search' page=page.next_page_number %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

            </div>

        </div>
    </div>

    <script>
        
        var form = document.getElementById("filtersForm")
        var filterBtns = document.getElementsByClassName("filterBtn")

        for (var i = 0; i < filterBtns.length; i++) {
            filterBtns[i].addEventListener("click", function() {
                console.log(filterBtns[i].id)
                form.submit()                
            })
        }

    </script>
    

{% endblock %}


{% block footer %}
    {% include "footer.html" %}
{% endblock %}