{% extends "layout_main.html" %}

{% load static %}

{% block title %}Items search{% endblock %}

{% block body %}

    <link href="{% static 'search/styles.css' %}" rel="stylesheet">  

    <div class="navbar-space"></div>

    <div class="container">
        <div class="row">

            <!-- FILTERS -->
            <div class="col-sm-4 col-md-3 col-xl-2">
                <form class="disable-select">
                    <h7>FILTERS</h7><br><br>
                    <div class="mb-3">
                        <input type="text" class="search-bar search-field" placeholder="search">
                        <button type="submit" class="search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="mb-2">gender:</div>
                    {% for gender in genders %}
                        <div class="mb-2">
                            <input type="checkbox" id="box-{{ gender.0 }}">
                            <label for="box-{{ gender.0 }}">{{ gender.1 }}</label>
                        </div>
                    {% endfor %}
                    <hr class="dropdown-divider">
                    <div class="mb-2">category:</div>
                    {% for category in categories %}
                        <div class="mb-2">
                            <input type="checkbox" id="box-{{ category.0 }}">
                            <label for="box-{{ category.0 }}">{{ category.1 }}</label>
                        </div>
                    {% endfor %}
                </form>
            </div>             

            <!-- RESULTS -->
            <div class="col-sm-8 col-md-9 col-xl-10 spacing">
                <h7>RESULTS</h7><br><br>
                    <div class="row row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4">
                        {% if page %}
                            {% for item in page %}

                                <!-- ITEM CARD -->
                                <div class="container card_container">
                                    <div class="cta">
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}">
                                        <a href="{% url 'items:product' item_id=item.id %}">
                                            <div class="text">
                                                <h2>{{ item.name }}</h2>
                                                <p>
                                                    {{ item.gender }}<br>
                                                    {{ item.category }}<br>
                                                    {% if item.quantity > 0 %}available {{ item.quantity }} pcs.{% else %}not available{% endif %}<br>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                        
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- PAGINATION -->
                    <div class="page-links">
                        {% if page.has_previous %}
                            <a href="{% url 'items:search' page=page.previous_page_number %}">prev</a>
                        {% endif %}
                        {% if page.has_next %}
                            <a href="{% url 'items:search' page=page.next_page_number %}">next</a>
                        {% endif %}
                    </div>

            </div>

        </div>
    </div>
    

{% endblock %}