/* NAVBAR */
.custom-transparent {
    background-color: rgb(0, 0, 0);
}
.custom-almost-transparent {
    background-color: rgb(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}


/* BACKGROUND PICTURE */
.bg {
    position: fixed; 
    width: 100%; 
    height: 100%;
}
.bg .bg-wrapper {
    height: 100%;
    width: 44%;
}
@media (max-width: 992px) {
    .bg .bg-wrapper {
        width: 100%;
    }
}
.bg .bg-wrapper img {
    position: absolute;
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}


/* LOGIN FORM POSITIONING */
.panel {
    width: 300px;
    position: absolute;
    top: 35%;
    padding: 15px;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}
@media (min-width: 992px) {
    .panel {
        margin-left: 25vw;
    }
}


/* LOGIN BUTTON */
svg {
    align-items: center;
}
.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.shape {
    fill: transparent;
    stroke-dasharray: 100% 200%;
    stroke-dashoffset: -190%;
    stroke-width: 8px;
    stroke: #000000;
}
.text {
    text-align: center;
    color: #000000;
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
}
@keyframes draw {
    100% {
        stroke-dasharray: 340%;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}
.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}
.div-butt {
    background-color: black;
}
button {
    border: none;
    background-color: transparent;
}


/* QUESTIONS */
.questions {
    font-size: 14px
}
.decorator {
    color: black;
}
.decorator:hover {
    color: grey;
}