{% extends "layout_main.html" %}

{% load static %}

{% block title %}Cart{% endblock %}

{% block body %}

    <link href="{% static 'user/cart.css' %}" rel="stylesheet"> 

    <div class="navbar-space"></div>
        
    <div class="container">
        <div class="row">
            <h7>CART PAGE</h7><br><br>
        </div>
        <div class="row">
            <div class="col-lg-3 order-1">
                <div class="flex">
                    <!-- ORDER INFO -->
                    <div>
                        <p>
                            <h7>SHIPMENT:</h7>
                        </p>
                    </div>
                    <hr class="dropdown-divider">
                    {% if cart.0 %}
                        <form action="{% url 'user:cart' %}" method="post">
                            {% csrf_token %}
                            <div>
                                {% if request.user.is_authenticated %}
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="email" value="{{ request.user.email }}" placeholder="email address" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="first_name" value="{{ request.user.first_name }}" placeholder="first name">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="last_name" value="{{ request.user.last_name }}" placeholder="last name">
                                    </div>
                                {% else %}
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="email" placeholder="email address">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="first_name" placeholder="first name">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="last_name" placeholder="last name">
                                    </div>
                                {% endif %}
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="street" value="{{ user_address.street }}" placeholder="street">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="number" value="{{ user_address.number }}" placeholder="house number">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="city" value="{{ user_address.city }}" placeholder="city">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="postal" value="{{ user_address.postal }}" placeholder="postal code">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control order-input" name="country" value="{{ user_address.country }}" placeholder="country">
                                    </div>
                                {% if request.user.is_authenticated and request.user.username != "demo@user.com" %}
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="remember" name="remember" value="true">
                                        <label class="form-check-label" for="remember">update my profile</label>
                                    </div>
                                {% endif %}
                                {% if request.user.username == "demo@user.com" %}
                                    <br>
                                    <p class="align-center">
                                        Information<br><br>
                                        As a demo user, you won't be able to recive order confirmation email, although the order will still go through.
                                    </p>
                                {% endif %}
                            </div>
                            <!-- BUY BUTTON -->
                            <br><br><br>
                            <div class="svg-wrapper">
                                <svg height="60" width="100%">
                                    <rect class="shape" height="60" width="100%">
                                </svg>
                                <div class="text"><button type="submit">CHECKOUT</button></div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
            

            <div class="col-lg-9 top-padding order-2">
                <div>
                    <p><h7>PRODUCTS:</h7></p>
                </div>
                <hr class="dropdown-divider">
                <table>
                    <tbody>
                        <tr>
                            <td scope="col">product:</td>
                            <td scope="col"></td>
                            <td scope="col">quantity:</td>
                            <td scope="col">piece price:</td>
                            <td scope="col">price:</td>
                        </tr>
                        {% for item in cart.0 %}
                            <tr>
                                <td scope="col" class="image-wrapper">
                                    <img src="{{ item.item_id.image.url }}" class="item-image">
                                </td>
                                <td scope="col"><a class="no-decorator" href="{% url 'items:product' item_id=item.item_id.id %}">{{ item.item_id.name }}</a></td>
                                <td scope="col">
                                    <button data-product="{{ item.item_id.id }}" data-action="add" class="update-cart">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                        </svg>
                                    </button><br>
                                    {{ item.quantity }}<br>
                                    <button data-product="{{ item.item_id.id }}" data-action="remove" class="update-cart">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </td>
                                <td scope="col">{{ item.item_id.current_price|floatformat:2 }}€</td>
                                <td scope="col">{{ item.item_overall_price|floatformat:2 }}€</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th scope="col">TOTAL:</tH>
                            <th scope="col">{{ price|floatformat:2 }}€</th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include "footer.html" %}
{% endblock %}