{% extends "layout_main.html" %}

{% load socialaccount %}

{% load static %}

{% block title %}Login{% endblock %}

{% block body %}

    <link href="{% static 'user/login.css' %}" rel="stylesheet">

    <!-- BACKGROUND -->
    <div class="bg">
        <div class="bg-wrapper">
            <img src="https://images.pexels.com/photos/3109603/pexels-photo-3109603.jpeg">
        </div>
    </div>

    <!-- CONTENT -->
    <div class="container-fluid d-flex justify-content-center">
        <div class="panel">
            <h4>SIGN IN</h4><br>
            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="email" class="form-control" name="username" placeholder="email address" autofocus>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <div class="questions">
                    Demo user credentials:<br>
                    email: <i>demo@user.com</i><br>
                    password: <i>demopassword</i>
                </div>
                <br><hr class="dropdown-divider">
                <br><br>
                <div class="svg-wrapper">
                    <svg height="60" width="100%">
                            <rect class="shape" height="60" width="100%">
                    </svg>
                    <div><button class="text" type="submit">SIGN IN</button></div>
                </div>
            </form>
            <br>
            <div class="questions">
                <p><a class="decorator" href="{% provider_login_url 'google'%}?next=/">Sign in with Google</a></p>
                <p><a class="decorator" href="{% url 'user:register' %}">Not a user yet? Sign up now!</a></p>
                <p><a class="decorator" href="{% url 'user:request_renew' %}">Forgot your password?</a></p>
            </div>
        </div>
    </div>


{% endblock %}