{% extends "layout_main.html" %}

{% load static %}

{% block title %}Cart{% endblock %}

{% block body %}

    <!-- <link href="{% static 'user/cart.css' %}" rel="stylesheet">  -->

    <style>

        /* NAVBAR */
        .navbar-space {
            width: 100%;
            height: 90px;
            background-color: transparent;
        }
        .custom-transparent {
            background-color: rgb(0, 0, 0);
        }
        .custom-almost-transparent {
            background-color: rgb(0, 0, 0, 0.5);
            border-color: rgba(255, 255, 255, 0.5);
        }


        /* ITEMS TABLE */
        table {
            table-layout: fixed;
            word-wrap: break-word;
            border-collapse: collapse;
            width: 100%;
        }
        table td, table th {
            border: none;
            padding: 6px;
            text-align: center;
        }
        table tr:hover {background-color: #eeeeee;}
        svg {
            color: black;
        }
        .image-wrapper {
            width: 200px;
            height: 100px;
            padding-right: 1%;
        }
        .item-image {
            overflow: hidden;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        /* DECORATOR REMOVAL */
        .no-decorator {
            text-decoration: none;
            color: black;
        }
        .no-decorator:hover {
            text-decoration: underline;
            color: black;
        }


        /* BUY BUTTON */
        svg {
            align-items: center;
        }
        .svg-wrapper {
            height: 60px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
        .shape {
            fill: transparent;
            stroke-dasharray: 100% 200%;
            stroke-dashoffset: -190%;
            stroke-width: 8px;
            stroke: #000000;
        }
        @media (max-width: 768px) {
            .shape {
                stroke-dashoffset: -180%;
            }
        }
        @media (max-width: 992px) {
            .shape {
                stroke-dashoffset: -175%;
            }
        }
        .text {
            text-align: center;
            color: #000000;
            font-size: 22px;
            letter-spacing: 8px;
            line-height: 32px;
            position: relative;
            top: -48px;
        }
        @keyframes draw {
            100% {
                stroke-dasharray: 320%;
                stroke-dashoffset: 0;
                stroke-width: 2px;
            }
        }
        @media (min-width: 992px) {
            @keyframes draw {
                100% {
                    stroke-dasharray: 350%;
                    stroke-dashoffset: 0;
                    stroke-width: 2px;
                }
            }
        }
        .svg-wrapper:hover .shape {
            -webkit-animation: 0.5s draw linear forwards;
            animation: 0.5s draw linear forwards;
        }


        /* TEXT ALIGNMENT */
        .align-center {
            text-align: center;
            color: gray;
        }
        .align-left {
            text-align: left;
            width: 110px;
        }
        .align-right {
            text-align: right;
        }

    </style>



    <div class="navbar-space"></div>
        
    <div class="container">
        <div class="row">
            <h7>CONFIRM ORDER</h7><br><br>
        </div>
        <div class="row">
            <div class="col-lg-3 order-1">
                <div class="flex">
                    <!-- ORDER INFO -->
                    <div>
                        <p>
                            <h7>SHIPMENT DETAILS:</h7>
                        </p>
                    </div>
                    <hr class="dropdown-divider">
                    <table>
                        <tbody>
                            <tr>
                                <td scope="col" class="align-left">email:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.email }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">first name:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.first_name }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">last name:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.last_name }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">street:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.street }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">house number:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.number }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">city:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.city }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">postal code:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.postal }}</td>
                            </tr>
                            <tr>
                                <td scope="col" class="align-left">country:</td>
                                <td scope="col" class="align-right">{{ request.session.user_info.country }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <p class="align-center">
                        Information<br><br>
                        Please take a note that payment system works in developer mode, therefore any transactions done with it won't be real. You can use demo card credentials:<br>
                        number: <i>4242 4242 4242 4242</i><br>
                        date: <i>any date after today's</i><br>
                        cvv: <i>any 3 digits</i>
                    </p>
                    <!-- BUY BUTTON -->
                    <br><br><br>
                    <div class="svg-wrapper">
                        <svg height="60" width="100%">
                            <rect class="shape" height="60" width="100%">
                        </svg>
                        <form enctype="multipart/form-data" method="post" role="order">
                            {% csrf_token %}
                            <div class="text">
                                <button id="orderBtn" type="submit" href="{% url 'user:order' %}" data-bind-href="pricing">ORDER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 top-padding order-2">
                <div>
                    <p><h7>PRODUCTS:</h7></p>
                </div>
                <hr class="dropdown-divider">
                <table>
                    <tbody>
                        <tr>
                            <td scope="col">product:</td>
                            <td scope="col"></td>
                            <td scope="col">quantity:</td>
                            <td scope="col">piece price:</td>
                            <td scope="col">price:</td>
                        </tr>
                        {% for item in cart.0 %}
                            <tr>
                                <td scope="col" class="image-wrapper">
                                    <img src="{{ item.item_id.image.url }}" class="item-image">
                                </td>
                                <td scope="col"><a class="no-decorator" href="{% url 'items:product' item_id=item.item_id.id %}">{{ item.item_id.name }}</a></td>
                                <td scope="col">{{ item.quantity }}</td>
                                <td scope="col">{{ item.item_id.current_price|floatformat:2 }}€</td>
                                <td scope="col">{{ item.item_overall_price|floatformat:2 }}€</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th scope="col">TOTAL:</tH>
                            <th scope="col">{{ price|floatformat:2 }}€</th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include "footer.html" %}
{% endblock %}