{% extends "layout_main.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}

    <br><br>
    <h1>This is a profile page</h1>
    <ul>
        <li>email: {{ user.email }}</li>
        <li>name: {{ user.first_name }}</li>
        <li>surname: {{ user.last_name }}</li>
    </ul>

    {% if address %}
        <ul>
            <li>{{ address.street }} {{ address.number }}</li>
            <li>{{ address.postal }}, {{ address.city }}</li>
            <li>{{ address.country }}</li>
        </ul>
    {% endif %}

{% endblock %}