{% extends "layout_main.html" %}

{% load static %}

{% block title %}Renew password{% endblock %}

{% block body %}

    <link href="{% static 'renew_password/styles.css' %}" rel="stylesheet">

    <!-- BACKGROUND -->
    <div class="bg">
        <div class="bg-wrapper">
            <img src="https://images.pexels.com/photos/3109603/pexels-photo-3109603.jpeg">
        </div>
    </div>

    <!-- CONTENT -->
    <div class="container-fluid d-flex justify-content-center">
        <div class="panel">
            <h4>RENEW PASSWORD</h4><br>
            <form action="{% url 'user:renew' uidb64=uidb64 token=token %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="password">
                    <div id="passwordHelp" class="form-text">
                        <ul>
                            <li>at least 8 characters long</li>
                            <li>not similar to email address</li>
                            <li>not among commonly used passwords</li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="repeat_password" placeholder="repeat password">
                </div>
                <br><hr class="dropdown-divider">
                <br><br>
                <div class="svg-wrapper">
                    <svg height="60" width="100%">
                            <rect class="shape" height="60" width="100%">
                    </svg>
                    <div><button class="text" type="submit">SUBMIT</button></div>
                </div>
            </form>
            <br>
        </div>
    </div>

{% endblock %}