{% extends "layout_main.html" %}

{% load static %}

{% block title %}Renew password{% endblock %}

{% block body %}

    <br><br>
    <h1>This is a password renewal page page</h1>
    <form action="{% url 'user:request_renew' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" type="email" name="email" placeholder="email" required="required">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-secondary">submit</button>
        </div>
    </form>

{% endblock %}