{% extends "layout_main.html" %}

{% load static %}

{% block title %}Renew password{% endblock %}

{% block body %}

    <link href="{% static 'renew_password/styles.css' %}" rel="stylesheet">

    <!-- BACKGROUND -->
    <div class="bg">
        <div class="bg-wrapper">
            <img src="https://images.pexels.com/photos/3109603/pexels-photo-3109603.jpeg">
        </div>
    </div>

    <!-- CONTENT -->
    <div class="container-fluid d-flex justify-content-center">
        <div class="panel">
            <h4>RENEW PASSWORD</h4><br>
            <form action="{% url 'user:request_renew' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="email address">
                    <div id="emailHelp" class="form-text">
                        <ul>
                            <li>password renewal link will be sent to provided email</li>
                            <li>remember to check the spam folder</li>
                        </ul>
                    </div>
                </div>
                <br><hr class="dropdown-divider">
                <br><br>
                <div class="svg-wrapper">
                    <svg height="60" width="100%">
                            <rect class="shape" height="60" width="100%">
                    </svg>
                    <div><button class="text" type="submit">SEND</button></div>
                </div>
            </form>
            <br>
        </div>
    </div>

{% endblock %}